@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* resuse */
.container {
    width: 90%;
    margin: 0 auto;
}

/* header start */
#header {
    background-image: url("/Images/Header.png");
    background-size: 100% 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.navbar .logo {
    width: 50px;
}

.list .nav-li {
    display: inline-block;
    margin: 0 10px;
}

.list .nav-li .nav-a {
    font-size: 25px;
    color: #835e3f;
    font-weight: 600;
    font-family: "Poppins";
    text-decoration: none;
}

.icons .search {
    font-size: 25px;
    color: #835e3f;
}

.icons .bar {
    font-size: 25px;
    color: #835e3f;
    display: none;
}

.header-content {
    padding: 40px 0px;
    color: #835e3f;
    font-weight: 400;
}

.header-content .header-h1 {
    /* min,max
    20px 21 > 90px 91 */
    font-size: clamp(20px, 7.8vw, 91px);
    width: 50%;
    font-family: "Calistoga";
}

.header-content .header-p {
    width: 45%;
    font-size: clamp(16px, 3.5vw, 32px);
    font-family: "Nunito";
    margin: 30px 0px;
}

.header-content .header-btn {

    font-size: clamp(16px, 2.6vw, 25px);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 100;
    font-family: "Montserrat";
    text-align: center;
    border-radius: 4px;
    background-color: #716c53;
    border: none;
    padding: 10px 30px;
}

/* header end */

/* team start */
#team {
    background-color: #fff3e0;
    padding: 30px 0px;
    position: relative;
    overflow: hidden;
}
#team::after{
    content: url("/Images/Design.png");
    position: absolute;
    top: 0;
}

.team-content .team-h1 {
    font-size: clamp(20px, 6.7vw, 64px);
    color: #835e3f;
    font-weight: 400;
    font-family: "Calistoga";
    text-align: center;
}

.team-content .team-p {
    font-size: clamp(16px, 2.6vw, 25px);
    width: 50%;
    color: #835e3f;
    font-weight: 100;
    font-family: "Montserrat";
    text-align: center;
    margin: 0 auto;
}

.cardData {
    margin: 30px 0px;
}

.cardData .row {
    display: flex;
}

.cardData .row .col {
    width: 33.33%;
}

.card {
    padding: 20px 0px;
    text-align: center;
    color: #835e3f;
}

.card .card-img {
    width: 60%;
    margin: 0 auto;

}

.card .card-h4 {
    font-size: clamp(16px, 3.5vw, 33px);
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Montserrat";
    margin: 10px 0px;
}

.card .card-p {
    font-size: clamp(16px, 2.6vw, 25px);
    font-weight: 600;
    font-family: "Nunito";
}

/* team end */

/* footer start */
#footer {
    padding: 40px 0px;
    background-color: #222222;
}

.foot .row {
    display: flex;
}

.foot .row .col-4 {
    width: 40%;
}

.foot .row .col-6 {
    width: 60%;
}

.foot .col {
    width: 33.33%;
}

.footd .foot-h3 {
    font-size: clamp(16px, 3.5vw, 31px);
    color: #ffffff;
    font-weight: 400;
    font-family: "Calistoga";
    margin-bottom: 20px;
}

.foot-ul .foot-li {
    list-style: none;
    margin: 10px 0px;
}

.foot-ul .foot-li .foot-a {
    font-size: clamp(16px, 2.6vw, 25px);
    color: #ffffff;
    font-weight: 400;
    font-family: "Nunito";
    text-decoration: none;
}

.foot-p {
    font-size: clamp(16px, 2.6vw, 25px);
    color: #ffffff;
    width: 80%;
    font-weight: 400;
    font-family: "Nunito";
}

/* footer end */